@font-face {
  font-family: 'GiorgioSans';
  src:
    local('Giorgio Sans LCG Bold'),
    url('../fonts/Giorgio_Sans_LCG_Bold.woff2') format('woff2 font'),
    url('../fonts/Giorgio_Sans_LCG_Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GiorgioSans';
  src:
    local('Giorgio Sans LCG Bold'),
    url('../fonts/Giorgio_Sans_LCG_Bold.woff2') format('woff2 font'),
    url('../fonts/Giorgio_Sans_LCG_Bold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GiorgioSans';
  src:
    local('Giorgio Sans LCG Regular'),
    url('../fonts/Giorgio_Sans_LCG_Regular.woff2') format('woff2 font'),
    url('../fonts/Giorgio_Sans_LCG_Regular.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OpenSans';
  src:
    local('Open Sans Bold'),
    url('../fonts/OpenSans_Condensed-Bold.woff2') format('woff2 font'),
    url('../fonts/OpenSans_Condensed-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OpenSans';
  src:
    local('Open Sans Bold'),
    url('../fonts/OpenSans_Condensed-SemiBold.woff2') format('woff2 font'),
    url('../fonts/OpenSans_Condensed-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OpenSans';
  src:
    local('Open Sans Bold'),
    url('../fonts/OpenSans_Condensed-Regular.woff2') format('woff2 font'),
    url('../fonts/OpenSans_Condensed-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}