@use 'mixins' as m;
@use 'vars' as *;

// Стили для скроллбара (WebKit браузеры)
*::-webkit-scrollbar {
  height: 2px; // Высота всей полосы прокрутки
  background-color: transparent;
  border-radius: 1rem;
}

*::-webkit-scrollbar-track {
  background-color: $white; // Цвет линии трека
}

*::-webkit-scrollbar-thumb {
  background-color: $black; // Цвет ползунка
  height: 1px; // Высота ползунка
  border-radius: 1rem;
}

* {
  scrollbar-width: thin; // "auto" | "thin" | "none"
  scrollbar-color: $black $white; // thumb track
}

body {
  @include m.fontOS;
  line-height: 100%;
  letter-spacing: 0%;
  color: $black;
  @include m.df(initial, initial, $fd: column);

  background-color: $white;
  overflow-x: hidden;
  width: 100%;
}

body:has(.overlay.active) {
  overflow: hidden;
  padding-right: var(--scrollbar-width, 0px);
}

main {
  flex: 1;
}

.container {
  max-width: calc($container - ($padding-x * 2));
  padding: 0 $padding-x;
  margin: 0 auto;
}

.section {
  margin-bottom: clamp(2.8rem, 3vw, 5.6rem);
}

a {
  text-decoration: none;
  color: inherit;
}

.title {
  @include m.fontGS(700);
  text-transform: uppercase;
}

h1.title {
  font-size: 4.1rem;
  letter-spacing: 1%;
}

h2.title {
  font-size: 3.9rem;
  letter-spacing: 1.4%;
}

h3.title,
h4.title {
  font-size: 2.8rem;
  letter-spacing: 1%;
}

h5.title {
  @include m.fontOS(600);
  font-size: 15px;
}

p.description {
  @include m.fontOS(600);
  font-size: 1rem;
}

.button {
  display: block;
  margin: 0 auto;
  background: $black-light;
  height: $btn-height;
  padding: 0 calc($gap-s * 2);
  color: $white;
  border-radius: $br;
  transition: background $transition-duration ease-in;

  border: none;
  cursor: pointer;

  @media (hover: hover) {
    &:hover {
      background: rgba($black-light, .8);
    }
  }

}

@include m.respond-to(handhelds) {
  h1.title {
    font-size: 2.2rem;
  }

  h2.title,
  h3.title,
  h4.title {
    font-size: 2rem;
  }

  p.description {
    font-size: 15px;
  }
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9; // Ниже меню (10) и бургера (11)
  opacity: 0;
  transition: opacity 0.3s ease;

  @include m.respond-to(medium-screens) {
    &.active {
      display: block;
      opacity: 1;
    }
  }
}

.not-found-page {
  &__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 55vh;
    flex-direction: column;
    gap: 2rem;
  }

  &__title {
    color: $black;
    @include m.titleSmall($fs: clamp(1rem, 3vw, 2rem));
  }
}