$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$black-light: #181818;
$black03: rgba($black, .3);
$grey: #F7F7F7;
$grey-light: #7F7F7FCC;
$link-color: #0C73FE;

$padding-x: 20px;
$gap-s: 1rem;

// slider
$transition-duration: 0.3s;
$dot-size: 8px;

$dot-active-color: $white;
$dot-inactive-color: rgba(255, 255, 255, 0.3);

$header-height: 44px;
$marquee-height: 31px;

// button
$btn-height: 2.5rem;
$br: 25px;

// font-size
$fs-small: 12px;
$fs-s: 14px;

// adaptive
$small: 576px;
$tablets: 768px;
$large: 1200px;

$container: 1440px;