@use '../base/vars' as *;
@use '../base/mixins' as m;

@use 'shared';

.blog-page {

  .hero {
    margin-bottom: 10px;

    .description {
      max-width: 722px;
    }
  }

  .articles {
    .container {
      margin-bottom: 30px;

      @include m.respond-to(handhelds) {
        margin-bottom: 35px;
      }
    }

    .story__list {
      display: flex;
      flex-wrap: wrap;
      gap: 40px 20px;

      @include m.respond-to(handhelds) {
        row-gap: 35px;
      }
    }

    .story__item {
      flex: 1 0 calc(33% - 40px);
      min-width: 280px;
    }

    .story__image-wrapper {
      min-height: 235px;
    }
  }



}