@use '../base/vars' as *;
@use '../base/mixins' as m;
@use '../base/media' as media;

.adv {

  .title {
    margin-bottom: calc($gap-s * 2);
    text-align: center;
  }

  &__inner {
    @include m.df($fd: column);
    gap: 67px;
    background-color: $grey;
    padding: calc($gap-s * 2) calc($gap-s * 3);

    @include m.respond-to(handhelds) {
      padding: $gap-s;
    }
  }

  &__list {
    @include m.df();
    gap: 80px;

    @include m.respond-to(medium-screens) {
      gap: 2vw;
    }

    @include m.respond-to(handhelds) {
      flex-wrap: wrap
    }
  }

  &__item {
    @include m.fontOS(700);
    font-size: var(--adv-fs);
    text-transform: uppercase;

    @include m.df($fd: column);

    position: relative;

    gap: .25rem;
    min-width: var(--adv-size);
    min-height: var(--adv-size);

    span {
      text-align: center;
      max-width: calc(var(--adv-size) / 1.6);
    }

    .adv__num {
      @include m.fontGS(700);
      font-size: calc(var(--adv-fs) * 3);
      letter-spacing: 1%;
    }

    @include m.respond-to(medium-screens) {
      gap: $gap-s;
    }
  }

  &__text-wrapper {
    max-width: 78%;
  }

  &__text {
    @include m.fontOS(400, 130%);
    text-align: center;

    @include m.respond-to(handhelds) {
      text-align: start;
    }
  }

  &__partners {
    width: 100%;
    @include m.df($jc: space-around);
    flex-wrap: wrap;

    @include m.respond-to(medium-screens) {
      gap: $gap-s;
    }
  }


  canvas {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  @include m.respond-to(handhelds) {
    display: none;
  }
}