@use '../base/vars' as *;
@use '../base/mixins' as m;


.banner {

  &__inner {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    overflow: hidden;

    border-radius: 3px;
    min-height: 450px;

    @include m.respond-to(handhelds) {
      min-height: 350px;
    }
  }

  .description {
    @include m.fontOS(600, 26px);
    font-size: 24px;

    @include m.respond-to(handhelds) {
      font-size: 15px;
      line-height: 110%;
      max-width: 370px;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }

  &__text {
    position: absolute;
    bottom: 55px;
    text-align: center;
    padding: 0 20px;

    @include m.respond-to(handhelds) {
      bottom: 15px;
    }

    .title,
    .description {
      margin-bottom: 5px;
      color: $white;
    }
  }

}