@use '../base/vars' as *;
@use '../base/mixins' as m;

.catalog {
  $gap: 10px;

  &__title {
    margin-bottom: calc($gap * 2);
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: calc($gap * 2);

    @include m.respond-to(tablet) {
      grid-template-columns: repeat(2, 1fr);
      gap: $gap;
    }
  }

  &__item {
    position: relative;
    overflow: hidden;
    border-radius: 3px;
    transition: transform $transition-duration ease;

    @media (hover: hover) {
      &:hover {
        transform: translateY(-1px);

        .catalog__image {
          transform: scale(1.05);
        }
      }
    }

    .title {
      color: $white;
    }
  }

  &__title-wrapper {
    position: absolute;
    bottom: 26px;
    left: 50%;
    transform: translateX(-50%);
    transition: transform $transition-duration ease;
  }

  &__link {
    display: block;
    height: 100%;
    color: inherit;
    position: relative;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform $transition-duration ease;
  }
}