@use '../base/vars' as *;
@use '../base/mixins' as m;

.contacts {
  background: $black-light;
  color: $white;

  &__inner {
    @include m.fontOS();
    letter-spacing: 1%;
    text-align: center;
    padding: 70px 20px 80px;
  }

  @include m.respond-to(handhelds) {
    margin-bottom: 0 !important;

    &__inner {
      margin-bottom: 0;
      padding: 3rem .25rem;
    }
  }

  .title {
    margin-bottom: 34px;
  }

  &__block {
    margin-bottom: 17px;
  }

  &__info {
    max-width: 357px;
    margin: 0 auto;
    font-size: 17px;

    @include m.respond-to(handhelds) {
      font-size: 15px;
    }
  }

  &__block {
    @include m.df($fd: column);
  }

  &__address,
  &__o-hours {
    font-size: 17px;
  }

  &__address {
    @include m.fontOS();


    @include m.respond-to(handhelds) {
      font-size: 15px;
    }
  }
}