@use '../base/vars' as *;
@use '../base/mixins' as m;

.contacts {
  background: $black-light;
  color: $white;

  &__inner {
    text-align: center;
    padding: 5rem .25rem;
    margin-bottom: calc($gap-s * 4);
  }

  @include m.respond-to(handhelds) {
    margin-bottom: 0;

    &__inner {
      margin-bottom: 0;
      padding: 3rem .25rem;
    }
  }

  .title,
  &__block {
    margin-bottom: 20px;
  }

  &__info {
    max-width: 357px;
    margin: 0 auto;
    font-size: 17px;
  }

  &__block {
    @include m.df($fd: column);
    gap: calc($gap-s / 2)
  }

  &__address {
    @include m.fontOS();
    margin-bottom: 5px;

    @include m.respond-to(handhelds) {
      font-size: 15px;
    }
  }
}