@use '../vars' as *;
@use '../mixins' as m;

.cta {
  @include m.df(center, center, column);
  $padding-x: 3.5rem;

  &__button {
    margin-bottom: calc($gap-s * 2);

    @include m.respond-to(tablet) {
      order: 2;
      margin-bottom: 0;
    }
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $grey;
    padding: 3rem $padding-x;

    @include m.respond-to(tablet) {
      padding: 0;
      background-color: transparent;
    }
  }

  &__block {
    max-width: calc($container - ($container / 3.5) - (($padding-x * 2)));

    @include m.respond-to(handhelds) {
      margin-bottom: 1rem;
    }
  }

  .title {
    margin-bottom: .6rem;
  }

  .description {
    margin-bottom: 1.5rem;
  }

  &__block:last-child {
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    transform: rotate(-90deg);

    @include m.respond-to(tablet) {
      display: none
    }
  }

  &__rotated-text {
    @include m.fontGS(700);
    font-size: calc($gap-s * 2);
    display: inline-block;
    white-space: nowrap;
    line-height: 1;
  }

  &__link {
    @include m.fontGS(300);
    letter-spacing: 1%;
    font-size: 15px;
    padding-left: 3rem;
    text-decoration: underline;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 2rem;
      height: 2rem;
      background-image: url(../images/play-icon.svg);
      background-repeat: no-repeat;
      background-size: contain;
    }

    @include m.respond-to(tablet) {
      display: none;
    }
  }
}