@use '../base/vars' as *;
@use '../base/mixins' as m;

.cta {

  &__button {
    margin-bottom: 80px;

    @include m.respond-to(tablet) {
      order: 2;
      margin-bottom: 0;
    }
  }

  &__inner {
    @include m.df(start, space-between);
    background-color: $grey;
    padding: 50px 60px;
    gap: 20px;

    @include m.respond-to(tablet) {
      padding: 0;
      background-color: transparent;
      margin-bottom: 35px;
    }
  }

  .title {
    margin-bottom: 6px;
  }

  .description {
    margin-bottom: 35px;
    max-width: 90%;

    @include m.respond-to(tablet) {
      margin-bottom: 0;
      max-width: 100%;
    }
  }

  &__block:last-child {
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 1.3rem 0;
    justify-content: center;
    transform: rotate(-90deg) translate(3%, -7%);
    min-width: 200px;

    @include m.respond-to(tablet) {
      display: none
    }
  }

  &__rotated-text {
    @include m.fontGS(700);
    font-size: 44px;
    letter-spacing: 1%;
    display: inline-block;
    white-space: nowrap;
    transform: translateY(1000px)
  }

  &__link {
    @include m.fontOS(600);
    font-size: 15px;
    padding-left: 44px;
    text-decoration: underline;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 2rem;
      height: 2rem;
      background-image: url(../images/play-icon.svg);
      background-repeat: no-repeat;
      background-size: contain;
    }

    @include m.respond-to(tablet) {
      display: none;
    }
  }

  @include m.respond-to(tablet) {
    @include m.df(center, center, column);
  }
}