@use '../base/vars' as *;
@use '../base/mixins' as m;

.footer {
  font-size: $fs-s;
  @include m.fontOS();

  &__item,
  &__menu,
  &__o-hours,
  &__menu-block {
    @include m.df(start, space-between, column);
    gap: 9px;
  }

  .mobile-nav__social {
    display: none;
  }

  &__top {
    padding: 60px 0 34px;
    border-top: 1px solid $black;
    border-bottom: 1px solid $black;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      width: 3rem;
      height: 3rem;
      top: - calc(3rem / 2);
      left: 50%;
      transform: translateX(-50%);
      background-image: url(../images/main/footer-attr.png);
      background-repeat: no-repeat;
      z-index: 2;
    }

    &::before {
      content: '';
      position: absolute;
      width: 5rem;
      height: 5rem;
      top: - calc(3.5rem / 2);
      left: 50%;
      transform: translateX(-50%);
      background: #fff;
      background-repeat: no-repeat;
    }

    @include m.respond-to(handhelds) {
      border-color: $grey-light;
      padding: calc($gap-s * 3) 0;

      .footer__menu-link,
      .footer__privacy {
        font-size: 15px;
        @include m.fontOS(400, 20px);
        color: $grey-light;
        text-decoration: underline;
        letter-spacing: 1%
      }

      .footer__mobile-title {
        @include m.fontOS(600, 20px);
        font-size: 15px;
        color: $grey-light;
        text-decoration: none !important;
      }

      &::after,
      &::before {
        display: none;
      }
    }

  }

  .social {
    gap: 10px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    @include m.respond-to(medium-screens) {
      flex-wrap: wrap;
    }
  }

  .menu {
    flex: 1 1 auto;
  }

  .address {
    justify-content: start;
    align-items: end;

    @include m.respond-to(medium-screens) {
      align-items: start;
    }

    @include m.respond-to(handhelds) {
      display: none;
    }
  }

  &__o-hours {
    align-items: end;

    @include m.respond-to(medium-screens) {
      align-items: start;
    }
  }

  ul.footer__list,
  &__nav {
    gap: 70px;
    @include m.df(initial, space-between);

    @include m.respond-to(handhelds) {
      flex-direction: column;
      gap: 1rem;
    }
  }

  &__nav {
    flex: 1 1 100%;
    width: 100%;
  }

  &__top-block {
    @include m.df(start, $fd: column);
    gap: 30px
  }


  &__menu-block {
    margin-top: auto;
  }

  &__menu:first-child {
    padding-left: 50px;

    @include m.respond-to(tablet) {
      padding-left: 0;
    }
  }

  &__menu {
    width: 100%;
  }

  &__mobile-title {
    display: none;
  }

  // &__o-hours,
  // &__menu-block {
  //   @include m.df(start, $fd: column);
  //   gap: calc($gap-s / 2);
  // }

  &__middle {
    padding: 35px 10px 17px;
    text-align: center;
    border-bottom: 1px solid $black;

    h4 {
      font-weight: 400;
      letter-spacing: 1%;
      margin-bottom: 0.1rem;
    }

    @include m.respond-to(handhelds) {
      display: none;
    }
  }

  &__address {
    @include m.fontOS()
  }

  &__projects {
    display: inline-flex;
    margin: 0 auto;
    gap: $gap-s;
  }

  &__bottom {
    font-size: 12px;
    letter-spacing: 1%;
    text-align: center;
    padding: $gap-s;
  }

  @include m.respond-to(handhelds) {

    background-color: $black-light;
    color: $grey;

    .footer__mobile-title {
      margin-bottom: .5rem;
    }

    &__logo {
      display: none;
    }

    .footer__privacy {
      margin-bottom: 1rem;
      order: -1;
    }

    .footer__item:first-child {
      order: 1;
    }

    .footer__social {
      order: 2;
    }

    .footer__item>* {
      display: none;
    }

    .no-hidden {
      display: flex;
    }

    .footer__nav {
      display: flex;
    }

    .footer__menu-item:not(.no-hidden) {
      display: none;
    }

    .footer__bottom {
      color: $grey-light;
    }

    .mobile-nav__social {
      display: flex;
      order: 2;
      gap: calc($gap-s / 2);
    }

    .footer__social {
      display: none;
    }

    .footer__bottom {
      padding: 1rem 0 2rem;
    }
  }
}