@use '../base/vars' as *;
@use '../base/mixins' as m;

.header {
  position: relative;

  &.dark {
    border-bottom: 1px solid #CCCCCCCC;

    .header__inner {
      color: $black;

      @include m.respond-to(medium-screens) {
        color: $white;
      }
    }
  }

  &__inner {
    @include m.df($jc: space-between);

    gap: 15px;
    color: $white;
    background: transparent;
    padding: 12px 0;

    a:not(.header__login) {
      @include m.fontOS(600, 100%);
    }

    @include m.respond-to(handhelds) {
      padding: 20px 0;
    }
  }

  &__logo {
    z-index: 2;

    @include m.respond-to(handhelds) {
      order: 1;
    }
  }

  .nav {
    flex-shrink: 0;
    font-size: $fs-s;
    font-weight: 600;
    z-index: 2;

    @include m.respond-to(medium-screens) {
      display: none;
    }

    &__link {
      text-transform: uppercase;
    }

  }

  &__contacts {
    flex-shrink: 1;
    @include m.df();
    flex-wrap: wrap;
    width: fit-content;
    z-index: 2;

    @include m.respond-to(handhelds) {
      flex-flow: column;
      order: 2;
    }
  }

  &__login {
    @include m.fontOS(400);
    font-size: 10px;
    text-decoration: underline;
  }

  &__login.mobile {
    display: none;

    @include m.respond-to(handhelds) {
      display: block;
    }
  }

  &__phone {
    font-size: 14px;
  }

  &__phone:not(.mobile) {
    padding-left: 18px;
  }

  .phone-svg {
    display: none;

    @include m.respond-to(handhelds) {
      display: block;
      order: 0;
    }
  }

  // Бургер-меню
  &__burger {
    display: none; // Скрыто по умолчанию
    border: 1.2px solid transparent;

    @include m.respond-to(medium-screens) {
      display: block;
      width: 22px;
      height: 20px;
      position: relative;
      z-index: 11;
      order: 3;
      cursor: pointer;
      padding: 14px;

      span {
        position: absolute;
        width: 100%;
        height: 1.2px;
        background: $white;
        left: 0;
        transition: all 0.3s ease;
        max-height: 15px;
        max-width: 18px;

        &:nth-child(1) {
          top: 5px;
        }

        &:nth-child(2) {
          top: 50%;
          transform: translateY(-50%);
        }

        &:nth-child(3) {
          bottom: 5px;
        }
      }

      &.active {
        span {
          max-width: 14px;

          // Идеальное центрирование крестика
          &:nth-child(1) {
            transform: rotate(45deg) translate(0, -50%);
            top: 50%;
            left: 20%;
          }

          &:nth-child(2) {
            opacity: 0;
          }

          &:nth-child(3) {
            transform: rotate(-45deg) translate(0, 50%);
            bottom: 50%;
            left: 20%;
          }
        }
      }
    }

    @include m.respond-to(handhelds) {
      order: 0;
    }

    &.active {
      border: 1px solid white;
      border-radius: 50%;

      @include m.respond-to(handhelds) {
        order: 3;
      }
    }

  }

  @include m.respond-to(medium-screens) {
    background-color: $black-light;
  }

  @include m.respond-to(handhelds) {

    &__login,
    &__phone:not(.mobile) {
      display: none;
    }
  }

}

.mobile-nav {
  &-levels {
    display: none;

    @include m.respond-to(medium-screens) {
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100lvh;
      background: $black;
      z-index: 10;
      transform: translateX(-200vh);
      transition: transform 0.3s ease;

      &.active {
        transform: translateX(0);
      }
    }

  }
}

.nav-level {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $black;
  display: none;
  flex-direction: column;
  padding: 1rem;
  z-index: 10;

  &.active {
    display: flex;
  }

  &__header {
    @include m.fontGS();
    padding: 41px 0 25px 0;
    border-bottom: 1px solid #D9D9D9;
    @include m.df($jc: space-between);

    .nav-level-1 & {
      @include m.df($jc: flex-start);
    }
  }

  &__back {
    @include m.df();
    gap: 5rem;
    color: $white;
    font-size: $fs-s;
    font-weight: 600;
    background: none;
    border: none;
    cursor: pointer;

    svg {
      width: 24px;
      height: 24px;
    }
  }

  &__login {
    @include m.fontOS(600, 26px);
    font-size: 17px;
    text-decoration: underline;
    color: $white;
    padding-top: calc($gap-s * 2);
  }

  &__menu {
    overflow-y: auto;
  }

  &__list {
    padding: 27px 0 38px;

    &[data-menu] {
      display: none;

      &.active {
        display: block;
      }
    }
  }

  &__item {
    list-style: none;
    margin-bottom: $gap-s;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    @include m.df($jc: space-between);
    text-decoration: none;
    padding: 0.2rem 0;
    transition: color 0.2s ease;

    @media (hover: hover) {
      &:hover {
        color: rgba($white, 0.8);
      }
    }
  }

  &__link,
  &__title {
    @include m.fontGS(700, 25px);
    font-size: 30px;
    letter-spacing: 1.2%;
    color: $white;
    text-transform: uppercase;
  }

  &__title {
    font-size: 30px;
  }
}

.header__burger.active~.mobile-nav-levels {
  @include m.respond-to(medium-screens) {
    transform: translateX(0);
  }
}