@use '../base/vars' as *;
@use '../base/mixins' as m;

.hero {
  $height-hero-section: 88svh;
  $height-hero-section-md: 620px;
  $height-hero-section-sm: 390px;

  height: calc($height-hero-section - $header-height - $marquee-height);
  margin-bottom: 40px;

  .swiper {
    .title {
      opacity: 0;
      transform: translateY(calc($gap-s * 2));
      transition: all $transition-duration ease;
    }

    .description {
      opacity: 0;
      transform: translateY(calc($gap-s * 2));
      transition: all $transition-duration ease 0.2s;
    }
  }

  &__wrapepr {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
  }

  @include m.respond-to(medium-screens) {
    height: $height-hero-section-md;
  }

  @include m.respond-to(handhelds) {
    height: $height-hero-section-sm;
    width: 100vw;
    margin-bottom: 35px;
  }

  &__inner {
    width: 100%;
    height: $height-hero-section;
    position: absolute;
    top: 0;
    left: 0;

    @include m.respond-to(medium-screens) {
      position: static;
      height: $height-hero-section-md;
    }

    @include m.respond-to(handhelds) {
      height: $height-hero-section-sm;
    }

  }

  .text-block {
    text-align: center;

    @include m.respond-to(handhelds) {
      max-width: 350px;
    }
  }

  .title {
    margin-bottom: 11px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

    @include m.respond-to(handhelds) {
      margin-bottom: 5px;
    }
  }

  .description {
    @include m.fontOS(600, 26px);
    font-size: 24px;
    max-width: 619px;
    margin: 0 auto;

    @include m.respond-to(handhelds) {
      font-size: 15px;
      line-height: 110%;
    }
  }

  .button {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 150%);
  }

  .swiper-slide-active .title,
  .swiper-slide-active .description {
    opacity: 1;
    transform: translateY(0);
  }

  .swiper-pagination {
    position: relative;
    z-index: 3;
    bottom: 44px !important;

    @include m.respond-to(handhelds) {
      bottom: calc($gap-s * 2) !important;
    }
  }


  .swiper-pagination-bullet {
    width: $dot-size;
    height: $dot-size;
    background-color: $dot-inactive-color;
    opacity: 1;
  }

  .swiper-pagination-bullet-active {
    background-color: $dot-active-color;
  }
}

.slide {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  overflow: hidden;
  width: 100%;

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }

  &__content {
    position: relative;
    z-index: 2;
    color: $white;
    text-align: center;
    max-width: 100%;
    padding: 0 1rem 64px;

    @include m.respond-to(handhelds) {
      padding: 0 1rem 40px;
    }
  }


}