@use '../base/vars' as *;
@use '../base/mixins' as m;

.marquee-container {
  width: 100%;
  overflow: hidden;
  background: $black-light;
  padding: 8px 0;
  position: relative;
  z-index: 99;

  @include m.respond-to(handhelds) {
    display: none;
  }
}

.marquee-track {
  display: flex;
  white-space: nowrap;
  will-change: transform;
}

.marquee-item {
  @include m.fontOS(400);
  display: inline-flex;
  align-items: center;
  padding: 0 8px;
  font-size: $fs-small;
  color: $white;
  white-space: nowrap;
  flex-shrink: 0;
  position: relative;

  &::after {
    content: '•';
    position: absolute;
    right: 0%;
    top: 0%;
    width: 1px;
    height: 1px;
  }
}