@use '../base/vars' as *;
@use '../base/mixins' as m;

.services {

  &__inner {
    background-color: $grey;
    padding: 60px;
    margin-bottom: 40px;

    @include m.respond-to(tablet) {
      background-color: transparent;
      padding: 1rem 0 0;
    }

  }

  &__item:has(.services__link) {
    padding-bottom: 15px
  }

  &__item {
    @include m.df(start, space-between);
    padding: 32px 0;

    @include m.respond-to(medium-screens) {
      flex-wrap: wrap;
    }

    @include m.respond-to(handhelds) {
      padding: $gap-s 0;
    }
  }

  &__item:first-child {
    border-top: 1px solid $black;
    border-bottom: 1px solid $black;
  }

  &__item+.services__item {
    border-bottom: 1px solid $black;
  }

  .description {
    font-size: 15px;

    @include m.respond-to(handhelds) {
      font-weight: 400;
    }
  }


  &__link {
    @include m.fontOS(400);
    font-size: $fs-small;
    color: $link-color;
    text-decoration: underline;
  }

  &__title-wrapper {
    flex: 1 0 518px;

    @include m.respond-to(medium-screens) {
      flex: 1 1 auto;
      @include m.df(center, space-between);
      gap: $gap-s;

      .title {
        margin-bottom: .5rem;
      }
    }

    @include m.respond-to(tablet) {
      .services__link {
        display: none;
      }
    }
  }
}