@use 'fonts';
@use 'vars' as *;
@use 'reset';
@use 'global';
@use 'mixins' as m;
// @use 'animate';
@use 'widgets/hero';

@use 'widgets/marquee';
@use 'widgets/header';
@use 'widgets/footer';
@use 'widgets/cta';
@use 'widgets/catalogs';
@use 'widgets/services';
@use 'widgets/banner';
@use 'widgets/adv';
@use 'widgets/story';
@use 'widgets/contacts';

.nav {
  &__list {
    @include m.df();
    gap: 1rem;
    height: 100%;

    color: inherit;
    text-decoration: none;
    transition: color 0.2s ease;

    footer & {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      max-width: 25rem;
    }

    @include m.respond-to(medium-screens) {
      @include m.df($ai: start, $jc: start, $fd: column);
      padding: 5rem .55rem 2rem
    }

    // @include m.respond-to(tablet) {
    //   max-width: 70vw;
    // }

    @include m.respond-to(handhelds) {
      max-width: 100%;
      padding: 0 .55rem 1rem
    }

  }

  &__item {
    list-style: none;

    @include m.respond-to(handhelds) {
      width: 100%;
    }
  }

  &__link {
    background-color: transparent;
    transition: text-decoration .5s ease;

    @include m.respond-to(handhelds) {
      justify-content: center;
    }

    header & {
      text-align: start;

      @media (hover: hover) {
        &:hover {
          text-decoration: underline;
        }
      }

    }
  }
}

.action {
  @include m.df();
  text-align: center;
  cursor: pointer;
  transition: all 0.2s ease;

  @media (hover: hover) {
    &:not(.nav__link):hover {
      transform: scale(1.03);
    }
  }

  @include m.respond-to(tablet) {
    height: 2.5rem;
  }
}

.social {
  @include m.df($jc: initial);
  gap: $gap-s;
}

.call-to-action {
  background-color: $grey;
  padding: 5rem 3rem;
  text-align: center;

  @include m.respond-to(handhelds) {
    padding: 3rem .25rem;
  }

  .title {
    margin-bottom: clamp(1rem, 3vw, 2rem);
  }
}